*{
    font-family: 'Roboto', sans-serif;
}
/* common color */
.my-color-primary {
    color: #FF5F1B;
}

.my-color-secondary {
    color: #212121;
}

.my-bg-primary {
    background-color: #FF5F1B;
}

.my-bg-secondary {
    background-color: #212121;
}

/* common shadow */
.my-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* common btn */
.my-btn-one {
    background-color: #FF5F1B;
    color: #FFFFFF;
    font-weight: bold;
    width: 218px;
    height: 61px;
    border-radius: 29.5px 29.5px 0px 29.5px;
}



/* navbar */
.navbar-center .menu li a {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
}


/* catalog-services */
.catalog-services li{
    padding: 10px;
    padding-right: 25px;
    font-weight: 600;
    border-radius: 5px;
}
.catalog-services li div{
        position: relative;
        padding-left: 13px;
}
.catalog-services li div::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #A1A1A1;
}
.catalog-services li.active-catalog>div::before{
    background-color: #FF5F1B;
}
.catalog-services li.active-catalog{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}





/* swipper js */
/* client section swiper */
.clients-review-section .swiper-button-next, .clients-review-section .swiper-button-prev{
    background-color: #FF5F1B;
    height: 60px;
    width: 60px;
    /* padding: 10px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.clients-review-section .swiper-slide-next{
    border: 2px solid #FF5F1B;   
    border-radius: 10px;
}

/* chef section swipper */
.chef-section .swiper-button-next, .chef-section .swiper-button-prev{
    background-color: #FF5F1B;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.chef-section .swiper-slide-next{
    border: 2px solid #FF5F1B;   
    border-radius: 10px;
    transform: translateY(-50px);   
}
.chef-section .swiper-button-prev::after{
    content: none;
}
.chef-section .swiper-button-next::after{
    content: none;
}
.chef-section .swiper-slide-next img{
    height: 450px;
}

/* Popular dishes swipper */
.popular-dishes .swiper-button-next, .popular-dishes .swiper-button-prev{
    background-color: #FF5F1B;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.popular-dishes .swiper-slide-next{
    border: 2px solid #FF5F1B;   
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #ff5f1b36;
    transform: translateY(-50px);   
}
.popular-dishes .swiper-button-prev::after{
    content: none;
}
.popular-dishes .swiper-button-next::after{
    content: none;
}
.popular-dishes .swiper-slide-next img{
    height: 350px;
}